
ProblemSets/ProblemSet1/Problem Set 1.pdf
ProblemSets/ProblemSet1/Output/pd1.log
ProblemSets/ProblemSet1/Articles/Persico, Postlewaite, and Silverman 2004.pdf
ProblemSets/ProblemSet1/.ipynb_checkpoints/ProblemSet1-checkpoint.ipynb
ProblemSets/ProblemSet1/.ipynb_checkpoints/ProblemSet1-checkpoint.ipynb
ProblemSets/ProblemSet1/.DS_Store
*.log
*.log
