
ProblemSets/ProblemSet1/Problem Set 1.pdf
ProblemSets/ProblemSet1/Output/pd1.log
ProblemSets/ProblemSet1/Articles/Persico, Postlewaite, and Silverman 2004.pdf
ProblemSets/ProblemSet1/.ipynb_checkpoints/ProblemSet1-checkpoint.ipynb
ProblemSets/ProblemSet1/.ipynb_checkpoints/ProblemSet1-checkpoint.ipynb
ProblemSets/ProblemSet1/.DS_Store
*.log
*.log
ProblemSets/ProblemSet2/Writing/ProblemSet2.synctex.gz
ProblemSets/ProblemSet2/Writing/ProblemSet2.fls
ProblemSets/ProblemSet2/Writing/ProblemSet2.fdb_latexmk
ProblemSets/ProblemSet2/Writing/ProblemSet2.aux
ProblemSets/ProblemSet2/Writing/.DS_Store
ProblemSets/ProblemSet2/.ipynb_checkpoints/ProblemSet2-checkpoint.ipynb
ProblemSets/ProblemSet2/.DS_Store
ProblemSets/ProblemSet2/Data/.DS_Store
ProblemSets/ProblemSet2/Output/.DS_Store
ResearchPaper/.ipynb_checkpoints/DataAnalysis-DID-checkpoint.ipynb
ResearchPaper/.ipynb_checkpoints/DataAnalysis-Synth-checkpoint.ipynb
ResearchPaper/.DS_Store
ResearchPaper/.ipynb_checkpoints/DataCleaning-DID-checkpoint.ipynb
ResearchPaper/.ipynb_checkpoints/DataCleaning-Syth-Census-FRED-checkpoint.ipynb
ResearchPaper/.ipynb_checkpoints/DataCleaning-Syth-QCEW-checkpoint.ipynb
ResearchPaper/.ipynb_checkpoints/Synth-Merge-checkpoint.ipynb
ResearchPaper/Articles/
*.DS_Store
ResearchPaper/My Writing/
ResearchPaper/Test/
