
ProblemSets/ProblemSet1/Problem Set 1.pdf
ProblemSets/ProblemSet1/Output/pd1.log
ProblemSets/ProblemSet1/Articles/Persico, Postlewaite, and Silverman 2004.pdf
ProblemSets/ProblemSet1/.ipynb_checkpoints/ProblemSet1-checkpoint.ipynb
ProblemSets/ProblemSet1/.ipynb_checkpoints/ProblemSet1-checkpoint.ipynb
ProblemSets/ProblemSet1/.DS_Store
*.log
*.log
ProblemSets/ProblemSet2/Writing/ProblemSet2.synctex.gz
ProblemSets/ProblemSet2/Writing/ProblemSet2.fls
ProblemSets/ProblemSet2/Writing/ProblemSet2.fdb_latexmk
ProblemSets/ProblemSet2/Writing/ProblemSet2.aux
ProblemSets/ProblemSet2/Writing/.DS_Store
ProblemSets/ProblemSet2/.ipynb_checkpoints/ProblemSet2-checkpoint.ipynb
ProblemSets/ProblemSet2/.DS_Store
ProblemSets/ProblemSet2/Data/.DS_Store
ProblemSets/ProblemSet2/Output/.DS_Store
ResearchPaper/.DS_Store
ResearchPaper/.ipynb_checkpoints/DataCleaning-DID-checkpoint.ipynb
ResearchPaper/.ipynb_checkpoints/DataCleaning-Syth-Census-FRED-checkpoint.ipynb
ResearchPaper/.ipynb_checkpoints/DataCleaning-Syth-QCEW-checkpoint.ipynb
ResearchPaper/.ipynb_checkpoints/Synth-Merge-checkpoint.ipynb
ResearchPaper/Articles/
*.DS_Store
ResearchPaper/My Writing/
ResearchPaper/Test/
ResearchPaper/Data/Synth/Placebo/rmspe.txt
ResearchPaper/Data/Synth/Placebo/placebo_LvlAnnualPay.dta
ResearchPaper/Data/Synth/Placebo/lvlAnnualPayEst_9.dta
ResearchPaper/Data/Synth/Placebo/lvlAnnualPayEst_8.dta
ResearchPaper/Data/Synth/Placebo/lvlAnnualPayEst_6.dta
ResearchPaper/Data/Synth/Placebo/lvlAnnualPayEst_55.dta
ResearchPaper/Data/Synth/Placebo/lvlAnnualPayEst_54.dta
ResearchPaper/Data/Synth/Placebo/lvlAnnualPayEst_53.dta
ResearchPaper/Data/Synth/Placebo/lvlAnnualPayEst_51.dta
ResearchPaper/Data/Synth/Placebo/lvlAnnualPayEst_5.dta
ResearchPaper/Data/Synth/Placebo/lvlAnnualPayEst_49.dta
ResearchPaper/Data/Synth/Placebo/lvlAnnualPayEst_48.dta
ResearchPaper/Data/Synth/Placebo/lvlAnnualPayEst_47.dta
ResearchPaper/Data/Synth/Placebo/lvlAnnualPayEst_45.dta
ResearchPaper/Data/Synth/Placebo/lvlAnnualPayEst_42.dta
ResearchPaper/Data/Synth/Placebo/lvlAnnualPayEst_41.dta
ResearchPaper/Data/Synth/Placebo/lvlAnnualPayEst_40.dta
ResearchPaper/Data/Synth/Placebo/lvlAnnualPayEst_4.dta
ResearchPaper/Data/Synth/Placebo/lvlAnnualPayEst_39.dta
ResearchPaper/Data/Synth/Placebo/lvlAnnualPayEst_37.dta
ResearchPaper/Data/Synth/Placebo/lvlAnnualPayEst_36.dta
ResearchPaper/Data/Synth/Placebo/lvlAnnualPayEst_35.dta
ResearchPaper/Data/Synth/Placebo/lvlAnnualPayEst_34.dta
ResearchPaper/Data/Synth/Placebo/lvlAnnualPayEst_33.dta
ResearchPaper/Data/Synth/Placebo/lvlAnnualPayEst_29.dta
ResearchPaper/Data/Synth/Placebo/lvlAnnualPayEst_28.dta
ResearchPaper/Data/Synth/Placebo/lvlAnnualPayEst_26.dta
ResearchPaper/Data/Synth/Placebo/lvlAnnualPayEst_25.dta
ResearchPaper/Data/Synth/Placebo/lvlAnnualPayEst_24.dta
ResearchPaper/Data/Synth/Placebo/lvlAnnualPayEst_21.dta
ResearchPaper/Data/Synth/Placebo/lvlAnnualPayEst_20.dta
ResearchPaper/Data/Synth/Placebo/lvlAnnualPayEst_18.dta
ResearchPaper/Data/Synth/Placebo/lvlAnnualPayEst_17.dta
ResearchPaper/Data/Synth/Placebo/lvlAnnualPayEst_13.dta
ResearchPaper/Data/Synth/Placebo/lvlAnnualPayEst_12.dta
ResearchPaper/Data/Synth/Placebo/lvlAnnualPayEst_1.dta
ResearchPaper/Data/Synth/lvlEmploymentEst.dta
ResearchPaper/Data/Synth/lvlAnnualPayEst.dta
